

.alan{
    
    height: 720px;
    width: 1080px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    
    
    
}

.solalan{
    background-color: white;
    height: 720px;
    width: 830px;
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
    
    
    
    
}
.slideralan{
    background-color: lime;
    height: 470px;
    width: 830px;
    position: absolute;
    margin-top: 0px;
    padding-top: 0px;
    
    
}
.duyurualan{
    background-color:#4cd137;
    height: 240px;
    width: 830px;
    margin-top: 480px;
    position: absolute;
    
}
.sagalan{
    background-color:#4cd137;
    height:720px;
    width: 240px;
    position: absolute;
    margin-left: 840px;   
    
}
.loginalan{
    
    height: 250px;
    width: 200px;
    position: absolute;
    margin: auto;
    margin-left: 20px;
    margin-top: 20px;

}
.siralamaalan{
    height: 300px;
    width: 200px;
    position: absolute;
    margin: auto;
    margin-top: 20px;
}

.duyurualanp{
    font: 15px Arial, sans-serif;
}
h2{
    padding-left: 10px;
}














