{%  extends 'layout.html' %}




            {% block content %}

<section class="alan">
    
                <div class="solalan">
                     <h1>
                         sol alan
                     </h1>

                </div>
                <div class="slideralan">

                    
                        
                    {% include 'pages/about.html' %}
                       
                   
                    
                </div>
      
                    <div class="duyurualan">

                        <p >
                            <h2>
                                Duyurular:<br>
                            </h2>
                            <h3>
                                <ul>
                                    <li>Üye giriş, çıkış ve kayıt sayfaları artık çalışır durumda</li>
                                    <li>Sliderlara resimler eklendi</li>
                                    <li>Yapılan işlemlerde kullanıcı bilgilendirme bölümleri eklendi</li>
                                 </ul>
                            </h3>
                            
                        </p>

                    </div>
     
                </div>


                <div class="sagalan">

                    <div class="loginalan">

                            {% include 'user/login.html' %}

                    </div>


                    

                    <div class="siralamaalan">
                                    
                        {% include 'user/ranking_main.html' %}
                     </div>
                                

                </div>



</section>









            {% endblock %}