{%  extends 'layout.html' %}



            {% block content %}

<section class="alan">
    
                <div class="solalan">
                     <h1>
                         sol alan
                     </h1>

                </div>
                <div class="slideralan">

                    <h1>
                        slider alan
                    </h1>
                    
                </div>
                





                    
                    <div class="duyurualan">

                        <h1>
                           duyuru
                        </h1>

                    </div>
     
                </div>


                <div class="sagalan">

                    <div class="loginalan">

                            {% include 'user/login.html' %}

                    </div>


                    

                    <div class="siralamaalan">
                                    
                        {% include 'user/ranking_main.html' %}
                     </div>
                                

                </div>



</section>









            {% endblock %}