{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" >
    <link rel="stylesheet" href="{% static 'css/index.css' %}" >
    <link rel="stylesheet" href="{% static 'css/registerindex.css' %}" >
    <link rel="stylesheet" href="{% static 'css/gamepage.css' %}" >
    
    
    

    


    


    <div id= "kutu"class="topnav">
        <a  href="index">Anasayfa</a>
        <a  href="gamepage">Oyunlar</a>
        <a href="registerindex">Kayıt ol</a>
    </div>

</head>
<body>
            {%  include 'partials/_alert.html' %}
    
            {% block content %}



            {% endblock %}



</body>

        <div id= "kutu"class="bottomnav">
    
        </div>
</html>