




<style>
    table, td, th {  
      border: 1px solid #ddd;
      text-align: left;
    }
    
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      padding: 10px;
    }
    h2{
        margin: auto;
    }
    form {
        
        border: 3px solid #f1f1f1;
      }
    
    select {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 90%;
        margin-left: 10px;
        
      }
    
    </style>
    
    
    
    <form>


   
        <select class="secim">
            <option>Oyun 1</option>
            
        </select>
  
    
    <table>
      <tr>
        <th>Kullanıcı Adı</th>
        <th>Puan</th>
        
      </tr>
      <tr>
        <td>1) </td>
        <td>1</td>
        
      </tr>
      <tr>
        <td>2) </td>
        <td>1</td>
      </tr>
      <tr>
        <td>3) </td>
        <td>1</td>
      </tr>
      <tr>
        <td>4)</td>
        <td>1</td>
      </tr>
      <tr>
        <td>5) </td>
        <td>1</td>
      </tr>
      <tr>
        <td>6) </td>
        <td>1</td>
      </tr>
      <tr>
        <td>7)</td>
        <td>1</td>
      </tr>
      <tr>
        <td>8)</td>
        <td>1</td>
      </tr>
      <tr>
        <td>9)</td>
        <td>1</td>
      </tr>
      

    </table>




 </form>