{% extends 'layout.html' %}
{% block content %}









<style>
    form{
        height: auto;
        width: 1080px;
        margin: auto;
    }
    table, td, th {  
      border: 1px solid #ddd;
      text-align: left;
    }
    
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      padding: 10px;
    }
    h2{
        margin: auto;
    }
    form {
        
        border: 3px solid #f1f1f1;
      }
    
    select,input,button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 30%;
        margin-left: 10px;
        
      }
    
    </style>
    
    
    
    <form>

        


   
        <select class="secim">
            <option>Oyun 1</option>
            
        </select>
        <input type="text" placeholder="Kullanıcı adı" name="uname" required>
        <button type="submit">Ara</button>
    
    <table>
      <tr>
        <th>Kullanıcı Adı</th>
        <th>Puan</th>
        
      </tr>
      <tr>
        <td>1) </td>
        <td>10</td>
        
      </tr>
      <tr>
        <td>2) </td>
        <td>10</td>
      </tr>
      <tr>
        <td>3)</td>
        <td>10</td>
      </tr>
      <tr>
        <td>4) </td>
        <td>10</td>
      </tr>
      <tr>
        <td>5) </td>
        <td>10</td>
      </tr>
      <tr>
        <td>6)</td>
        <td>10</td>
      </tr>
      <tr>
        <td>7)</td>
        <td>10</td>
      </tr>
      <tr>
        <td>8)</td>
        <td>10</td>
      </tr>
      <tr>
        <td>9)</td>
        <td>10</td>
      </tr>
      <tr>
        <td>10)</td>
        <td>10</td>
      </tr>
      <tr>
        <td>11)</td>
        <td>10</td>
      </tr>
      <tr>
        <td>12)</td>
        <td>10</td>
      </tr>
      <tr>
        <td>13)</td>
        <td>10</td>
      </tr>
      <tr>
        <td>14)</td>
        <td>10</td>
      </tr>
      <tr>
        <td>15)</td>
        <td>10</td>
      </tr>

      

    </table>




 </form>


{% endblock %}