




<style>
    table, td, th {  
      border: 1px solid #ddd;
      text-align: left;
    }
    
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      padding: 10px;
    }
    h2{
        margin: auto;
    }
    form {
        
        border: 3px solid #f1f1f1;
      }
    
    select {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 90%;
        margin-left: 10px;
        
      }
    
    </style>
    
    
    
    <form>


   
        <select class="secim">
            <option>    Oyun 1</option>
            <option>    Oyun 2</option>
            <option>    Oyun 3</option>
        </select>
  
    
    <table>
      <tr>
        <th>Username</th>
        <th>Point</th>
        
      </tr>
      <tr>
        <td>1) Peter</td>
        <td>1</td>
        
      </tr>
      <tr>
        <td>2) Lois</td>
        <td>1</td>
      </tr>
      <tr>
        <td>3) Joe</td>
        <td>1</td>
      </tr>
      <tr>
        <td>4) Cleveland</td>
        <td>1</td>
      </tr>
      <tr>
        <td>5) Cleveland</td>
        <td>1</td>
      </tr>
      <tr>
        <td>6) Cleveland</td>
        <td>1</td>
      </tr>
      <tr>
        <td>7) Cleveland</td>
        <td>1</td>
      </tr>
      <tr>
        <td>8) Cleveland</td>
        <td>1</td>
      </tr>
      

    </table>




 </form>